In [5]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import math
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [6]:
#import all data sets
Math=pd.read_csv("data/Math.csv")
Charter = pd.read_csv("data/Math-Charter.csv")
Size = pd.read_csv("data/ClassSize.csv")
Survey = pd.read_csv("data/SurveyData.csv")
Demo = pd.read_csv("data/DemographicData.csv")
funding = pd.read_csv("data/fundingdf.csv")
Safety = pd.read_csv("data/School_Safety_Report.csv")

In [7]:
#CLEAN UP CHARTER DATA
#drop irrelevant demographic info and years
Charter = Charter[Charter["Year"] == 2011]
Charterdf = Charter.drop("Demographic", axis = 1)
#set school type to charter because schools in charter.csv were only from charter schools
Charterdf["School Type"] = "Charter"
Charterdf.head()

       DBN       Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
5   84K355           5  2011             79              696           1         1.3          12        15.2          39        49.4          27        34.2                66              83.5     Charter
11  84K355           6  2011             71              714           0           0           2         2.8          14        19.7          55        77.5                69              97.2     Charter
16  84K355           7  2011             68              706           0           0           0           0          14        20.6          54        79.4                68               100     Charter
20  84K355           8  2011             55              718           0           0           0           0          10        18.2          45        81.8                55               100     Charter
27  84K355  All Grades  2011            273              708           1         0.4          14         5.1          77        28.2         181        66.3               258              94.5     Charter

In [8]:
#CLEAN UP MATH DATA
#drop irrelevant demographic info and years
Mathdf = Math.drop("Demographic", axis = 1)
Mathdf =  Mathdf[Mathdf["Year"] == 2011]
#set school type to public because schools in the math.csv were only from public schools
Mathdf["School Type"] = "Public"
Mathdf.head()

       DBN       Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
5   01M015           3  2011             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9      Public
12  01M015           4  2011             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3      Public
19  01M015           5  2011             25              667           5          20           8          32          12          48           0           0                12                48      Public
27  01M015  All Grades  2011             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6      Public
34  01M019           3  2011             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5      Public

In [9]:
#merge math data and charter data
merge1 = Mathdf.append(Charterdf, ignore_index=True)
merge1.rename(columns={'Mean Scale Score':'Mean_Scale_Score'}, inplace=True)
# convert meanscalescores into ints
counter = 0
for i in merge1.iterrows():
    if i[1]["Mean_Scale_Score"] == "s":
        merge1.ix[counter, "Mean_Scale_Score"] = "NaN"
    else:
        merge1.ix[counter, "Mean_Scale_Score"]= int(i[1]["Mean_Scale_Score"])
    counter += 1
type(merge1.iloc[0]["Mean_Scale_Score"])
merge1.head()

      DBN       Grade  Year  Number Tested Mean_Scale_Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
0  01M015           3  2011             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9      Public
1  01M015           4  2011             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3      Public
2  01M015           5  2011             25              667           5          20           8          32          12          48           0           0                12                48      Public
3  01M015  All Grades  2011             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6      Public
4  01M019           3  2011             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5      Public

In [10]:
#CLEAN UP SIZE DATA
#Standardize DBN numbers for class size data
Size["DBN"] = "N/A"
counter = 0
for i in Size.iterrows():
    #concatenate school district and code to form dbn numbers
    newdbn = "0"+str(i[1]["CSD"])+i[1]["SCHOOL CODE"]
    Size.ix[counter, "DBN"]= newdbn
    #take only sencond number of grades with a 0 added to the beginning
    if type(i[1]["GRADE "]) == float:
        grade = "N/A"
    elif len(i[1]["GRADE "]) == 2:
        grade = i[1]["GRADE "][1:]
    Size.ix[counter, "GRADE "] = grade
    if math.isnan((i[1]["AVERAGE CLASS SIZE"])):
        continue
    else:
        Size.ix[counter, "AVERAGE CLASS SIZE"] = float(i[1]["AVERAGE CLASS SIZE"])
    counter += 1

#Only keep relevant class size columns
sizeallcolumns = Size.columns 
sizedropcolumns = []
# print len(sizeallcolumns)
for title in sizeallcolumns:
    if title in ["SCHOOL NAME", "BOROUGH", "GRADE ", 'PROGRAM TYPE', "AVERAGE CLASS SIZE", "DBN"]:
        continue
    else:
        sizedropcolumns.append(title)

#Keep only gen ed samples to standardize classroom type we gather data from
Sizedf = Size.drop(sizedropcolumns, axis = 1)
Sizedf =  Sizedf[Sizedf["PROGRAM TYPE"] == "GEN ED"]

#Modify format of column names so they match others while merging
Sizedf.columns = ['School Name', 'Borough', 'Grade', 'Program Type', 'Average Class Size', 'DBN']
Sizedf.head()

  School Name                    Borough Grade Program Type  Average Class Size     DBN
0           M  P.S. 015 Roberto Clemente     K       GEN ED                  19  01M015
2           M  P.S. 015 Roberto Clemente     1       GEN ED                  17  01M015
4           M  P.S. 015 Roberto Clemente     2       GEN ED                  15  01M015
6           M  P.S. 015 Roberto Clemente     3       GEN ED                  12  01M015
8           M  P.S. 015 Roberto Clemente     4       GEN ED                  13  01M015

In [ ]:
#merge class size data into other merged data
merge2 = merge1.merge(Sizedf, on = ["DBN", "Grade"], how = "left")

In [ ]:
#Clean up years for demographic data
Demog =  Demo[Demo["Year"] == "2010-11"]

#Only keep relevant demographic columns
demogallcolumns = Demog.columns 
demogdropcolumns = []
for title in demogallcolumns:
    if title in ["DBN", "School Name", "% Female", "% Male", "% Asian", "% Black", "% Hispanic", "% Other", "% White"]:
        continue
    else:
        demogdropcolumns.append(title)

#drop irrelvant columns
Demogdf = Demog.drop(demogdropcolumns, axis = 1)

#convert percentages into floats without percent sign
for i in xrange(0, len(Demogdf["DBN"])):
    Demogdf.iloc[i]["% Female"] = float(Demogdf.iloc[i]["% Female"][:-1])/100
    Demogdf.iloc[i]["% Male"] = float(Demogdf.iloc[i]["% Male"][:-1])/100
    Demogdf.iloc[i]["% Asian"] = float(Demogdf.iloc[i]["% Asian"][:-1])/100
    Demogdf.iloc[i]["% Black"] = float(Demogdf.iloc[i]["% Black"][:-1])/100
    Demogdf.iloc[i]["% Hispanic"] = float(Demogdf.iloc[i]["% Hispanic"][:-1])/100
    Demogdf.iloc[i]["% Other"] = float(Demogdf.iloc[i]["% Other"][:-1])/100
    Demogdf.iloc[i]["% White"] = float(Demogdf.iloc[i]["% White"][:-1])/100

In [ ]:
#merge demographic data with other merged data
merge3 = merge2.merge(Demogdf, on = "DBN", how = "left")
merge3.head()

In [ ]:
#clean safety data
#keep only relevant columns
safetyallcolumns = Safety.columns 
safetydropcolumns = []
for title in safetyallcolumns:
    if title in ["DBN", "AvgOfMajor N", "AvgOfVio N", "AvgOfNoCrim N"]:
        continue
    else:
        safetydropcolumns.append(title)
Safetydf = Safety.drop(safetydropcolumns, axis = 1)
Safetydf.head()

In [ ]:
#merge safety data with other data
merge4 = merge3.merge(Safetydf, on = "DBN", how = "left")
merge4.head()

In [ ]:
#CLEAN UP SURVEY DATA
# SurveyWhole = Survey.append(Survey75, ignore_index=True)
allcolumns = Survey.columns 
dropcolumns = []
for title in allcolumns:
    #create array of columns to drop in dropcolumns array
    if title in ["dbn", "schoolname", "eng_p_11", "eng_s_11", "eng_t_11", "aca_p_11", "aca_t_11", "aca_s_11"]:
        continue   
    else:
        dropcolumns.append(title)
#drop irrelevant columns and edit column format so they can merge
Surveydf = Survey.drop(dropcolumns, axis = 1)
Surveydf.rename(columns={'dbn':'DBN'}, inplace=True)
Surveydf.head()

In [ ]:
merge5 = merge4.merge(Surveydf, on = "DBN", how = "left")
merge5.head()

In [ ]:
#Clean up funding columns
funding.columns = ["DBN", "Funding"]
funding.head()
# for i in funding.iterrows():
#     print i[1]
#     funding = funding.replace("$", "")
#     funding = funding.replace(",", "")
# type(mergedf.funding)

In [ ]:
mergedf = merge5.merge(funding, on = "DBN", how = "left")
mergedf.columns

In [ ]:
#REPLACE NAN VALUES IN EACH COLUMN WITH OVERALL MEAN FOR THAT COLUMN
#replace NAN values in Mean_Scale_Score column
array = []
#create array with all values thata 
for i in mergedf.iterrows():
    if i[1]["Mean_Scale_Score"] != "NaN":
        array.append(i[1]["Mean_Scale_Score"])
counter = 0
for i in mergedf.iterrows():
    if i[1]["Mean_Scale_Score"] == "NaN":
#         print "hi"
        mergedf.ix[counter, "Mean_Scale_Score"] = np.mean(array)
#         print mergedf.iloc[counter]["Mean_Scale_Score"]
    counter +=1
        
array_size = []
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["Average Class Size"]):
#         print i
#         break
        array_size.append(i[1]["Average Class Size"])
# print array_size
counter1 = 0
for i in mergedf.iterrows():
#     if i[1]["Average Class Size"] == "NaN"or i[1]["Average Class Size"] == "nan":
    if np.isnan(i[1]["Average Class Size"]):
#         print "hi"
        mergedf.ix[counter1, "Average Class Size"] = np.mean(array_size)
    counter1 +=1

array_f = []
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% Female"]):
#         print i
#         break
        array_f.append(i[1]["% Female"])
# print array_size
counter2 = 0
for i in mergedf.iterrows():
#     if i[1]["Average Class Size"] == "NaN"or i[1]["Average Class Size"] == "nan":
    if np.isnan(i[1]["% Female"]):
#         print "hi"
        mergedf.ix[counter2, "% Female"] = np.mean(array_f)
        print mergedf.iloc[counter2]["% Female"]
    counter2 +=1
array_asian = []
counter3 = 0
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% Asian"]):
#         print "hi"
        array_asian.append(i[1]["% Asian"])
for i in mergedf.iterrows():
    if np.isnan(i[1]["% Asian"]):
        mergedf.ix[counter3, "% Asian"] = np.mean(array_asian)
    counter3 +=1
array_black = []
counter4 = 0
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% Black"]):
#         print "hi"
        array_black.append(i[1]["% Black"])
# print np.mean(array_black)
for i in mergedf.iterrows():
    if np.isnan(i[1]["% Black"]):
        mergedf.ix[counter4, "% Black"] = np.mean(array_black)
    counter4 +=1
array_his = []
counter5 = 0
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% Hispanic"]):
#         print "hi"
        array_his.append(i[1]["% Hispanic"])
print np.mean(array_his)
for i in mergedf.iterrows():
    if np.isnan(i[1]["% Hispanic"]):
        mergedf.ix[counter5, "% Hispanic"] = np.mean(array_his)
    counter5 +=1
array_crime = []
counter6 = 0
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["AvgOfNoCrim N"]):
#         print "hi"
        array_crime.append(i[1]["AvgOfNoCrim N"])
print np.mean(array_crime)
for i in mergedf.iterrows():
    if np.isnan(i[1]["AvgOfNoCrim N"]):
        mergedf.ix[counter6, "AvgOfNoCrim N"] = np.mean(array_crime)
    counter6 +=1
    
counter7 =0
array_other=[]
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% Other"]):
#         print "hi"
        array_other.append(i[1]["% Other"])

for i in mergedf.iterrows():
    if np.isnan(i[1]["% Other"]):
        mergedf.ix[counter7, "% Other"] = np.mean(array_other)
    counter7 +=1
counter8= 0
array_survey=[]
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["aca_s_11"]):
#         print "hi"
        array_survey.append(i[1]["aca_s_11"])
# print np.mean(array_crime)
for i in mergedf.iterrows():
    if np.isnan(i[1]["aca_s_11"]):
        mergedf.ix[counter8, "aca_s_11"] = np.mean(array_survey)
    counter8 +=1
counterw = 0
array_white = []
for i in mergedf.iterrows():
    if ~np.isnan(i[1]["% White"]):
        print "hi"
        array_white.append(i[1]["% White"])
# print np.mean(array_his)
for i in mergedf.iterrows():
    if np.isnan(i[1]["% White"]):
        mergedf.ix[counterw, "% White"] = np.mean(array_white)
    counterw +=1

In [ ]:
mergedf.columns = ['DBN', 'Grade', 'Year', 'Number_Tested', 'Mean_Scale_Score', 'Num_Level1', 'Pct_Level1', 'Num_Level2', 'Pct_Level2', 'Num_Level3', 'Pct_Level3', 'Num_Level4', 'Pct_Level4', 'Num_Level3_and4', 'Pct_Level3_and4', 'School_Type', 'School_Name_x', 'Borough', 'Program_Type', 'Average_Class_Size', 'School_Name_y', 'Female_Percentage', 'Male_Percentage', 'Asian_Percentage', 'Black_Percentage', 'Hispanic_Percentage', 'Other_Percentage', 'White_Percentage', 'Avg_Major_N', 'Avg_No_Crim_N', 'Avg_Vio_N', 'School_Name', 'Eng_p_11', 'Aca_p_11', 'Eng_t_11', 'Aca_t_11', 'Eng_s_11', 'Aca_s_11', 'Funding']

In [ ]:
# print array_size
# for i in mergedf.iterrows():
#     if i[1]["Mean_Scale_Score"] == "NaN":
# #         print "hi"
# # print np.mean(array)
# counter2 = 0
# for i in mergedf.iterrows():
#     mergedf.ix[counter2, "Funding"] = int(i[1]["Funding"])
#     counter += 1

In [ ]:
# print mergedf["Female_Percentage"]
mergedf =  mergedf[mergedf["Funding"] != 0]
newdf = mergedf[mergedf["Grade"] != "All Grades"]
newdf.to_csv("mergedfupdate_newcleaned.csv", index=False)

In [ ]:
for i in mergedf["Funding"]:
    if i == 0:
        print "HI"
for i in mergedf["Female_percentage"]:
    if np.isnan(i):
        print "HI"
for i in mergedf["White_percentage"]:
    if np.isnan(i):
        print "HI"

# allcolumns = mergedf.columns 
# dropcolumns = []
# for title in allcolumns:
#     #create array of columns to drop in dropcolumns array
#     if title in ["Avg_No_Crim_N", "Female_Percentage", "Asian_Percentage", "Black_Percentage", "Hispanic_Percentage"]:
#         continue   
#     else:
#         dropcolumns.append(title)
# #drop irrelevant columns and edit column format so they can merge
# x = mergedf.drop(dropcolumns, axis = 1)

# x["Female_Percentage"]